* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero, .information, .quote-container {
    height: 600px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 18px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
}

.content-header {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 8px;
}

button {
    background-color: #3882F6;
}

.content-body {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

.image-content {
    width: 250px;
}

.hero, .footer {
    background-color: #1F2937;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.info-content {
    display: flex;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 8px;
}

.pic {
    width: 250px;
    height: 250px;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.quote-content {
    text-align: right;
    color: #1F2937;
}

.quote {
    font-size: 36px;
}

.author {
    margin: 16px 0 0 0;
    font-weight: 900;
    font-size: 24px;
}

.cta-container {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    width: 800px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    padding: 24px;
}
