* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero {
    display: flex;
    flex-direction: column;
    height: 350px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 18px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content-header {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 8px;
}

button {
    background-color: #3882F6;
}

.content-body {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

.image-content {
    width: 250px;
}

.hero, .footer {
    background-color: #1F2937;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}